{% extends "layout.html" %}
{% block content %}
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->
    <style>
      
      .bgimg 
      {
      background-image: url('https://dailytimes.com.pk/assets/uploads/2020/02/13/dead-body-1280x720.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
      }

      .carousel-item
      {
        height:32rem;
        position:relative;
        margin-left:80px;
        margin-bottom:120px;
        margin-top:50px;
        margin-right:120px;
        width:80rem;
      }

      .something
      {
        padding-top:200px;
        text-align:center;
      }

      .quote
      {
        text-align:left;
      }
      .about
      {
        text-align: center;
        color: black;
        padding-top:90px;
        padding-bottom:40px;
      }
    </style>
    
    
    <div class="bgimg w3-display-containerp w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
       
      </div>
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="w3-display-middle" style= "width: 450px;height: 150px;opacity:0.8;
      text-align: center;margin-left: 550px;color:black;">
        <h1 class="w3-jumbo w3-animate-top" style="text-align: center;padding-top: 30px;" >DIGNITY TO THE DEAD</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center" style="text-align: center;">Promise of Salvation.</p>
      </div>
</div>
   

    
      <div><a name="about">
        <h1 class="pt-20 ps-10 about">About US</h1>
        <p class="pl-10" style="text-align:left;margin-left: 150px;margin-right:150px;font-family:sans-serif;color:gray;font-size:22px;">
          In India, a significant number of unclaimed dead bodies report to hospital and health authorities. The epidemiology of these 
          unclaimed dead bodies and various methods to identify them has been studied by various forensic experts but no study has 
          considered pitfalls in dignified disposal of the dead bodies.<br>
          Hundreds of families want their loved ones’ bodies cared for as quickly as possible,  but there is a shortage of people who can 
          do the funerals and last rites. This has led to a situation where people are paying bribes in order to get space or a furnace for 
          cremation. There are also reports of physical fights, and intimidation.<br>
          During the pandemic, the count of orphan dead bodies has increased in an alarming rate and this has lead to chaos and confusion 
          causing a helpless situation where people are not able to provide a proper funeral.<br>
          Our vision is to provide a dignified funeral to unclaimed dead bodies. We intend to act as a mediator among the person who has 
          come across a orphaned dead body and the firm by creating an efficacious app that provides the location and other details of the 
          dead bodies, so as to notify the people who aim to perform the last rites of the dead.</p></a>
      </div>
      <br>
      <br><br><br><br>

<footer class="bg-dark" style="height:300px; width:100%;"><br><br>
  <h2 style="text-align:center;color:whitesmoke;"><i>Vision without action is a daydream. Action without vision is a nightmare.<br> 
                  And our Dignity to the Dead is in the way towards it's vision.</i></h2><br><br>
  <h5 style="color:white;text-align:left;padding-left:30px;padding-right:30px;">Email : dignitytothedead@gmail.com
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Terms and Conditons</h5>
  <h5 style="color:white;text-align:left;padding-left:30px;padding-right:30px;">Contact : 9003963569&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dignity to the Dead</h5>

</footer>
{% endblock content %}