{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        
          <div class="w3-row" id="myGrid" style="padding-top: 50px;padding-right: 25px;padding-left: 25px;">
            <div class="w3-third">
              <img src="https://ndownloader.figshare.com/files/13513724/preview/13513724/preview.jpg " 
              style="width:350px;height: 259px;">
              <img src="https://wedc-knowledge.lboro.ac.uk/resources/graphics/DEAD/RJS_ART_DEAD_Disposal_of_dead_bodies_after_the_genocide_in_Rwanda.jpg " 
              style="width:350px;height: 250px;">
              <img src="https://wedc-knowledge.lboro.ac.uk/resources/graphics/DEAD/RJS_ART_DEAD_Dead_bodies.jpg " style="width:450px;height: 200px;">
              <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/1-after-the-original-drawing-by-gustave-ken-welsh.jpg " 
              style="width:250px;height: 250px;">
           </div>
           </div>
            
           <style>
            .form1
            {
              font-weight: bold;
              font-size: 22px;
              margin-top: 100px; 
              margin-right:100px;
              margin-left: 60px;
              font-family: sans-serif;
            }
      
            .para
            {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0; 
            }

            .name
            {
              column-count: 2;
              column-gap: 40px;
            }
                  
           </style>
      
            <br><br><br>
            <h1 style="font-size:50px; color:black; text-align:center">SIGN UP AS ORGANISATION</h1>
      
        
            <form class="name form1" action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
                <p class="para">
                    {{form.orgname.label}}<br>
                    {{form.orgname(size=50)}}
                </p>
                <p class="para">
                    {{form.hod.label}}<br>
                    {{form.hod(size=50)}}
                </p>
                <p class="para">
                    {{form.address.label}}<br>
                    {{form.address(row=10,column=40)}}
                </p>
                <p class="para">
                    {{form.branch.label}}<br>
                    {{form.branch(size=50)}}
                </p>
                <p class="para">
                  {{form.submit}}
              </p>
                <p class="para">
                    {{form.contact.label}}<br>
                    {{form.contact(size=50)}}
                </p>
                <p class="para">
                    {{form.official_email.label}}<br>
                    {{form.official_email(size=50)}}
                </p>
                <p class="para">
                    {{form.passw.label}}<br>
                    {{form.passw(size=50)}}
                </p>
                <p class="para">
                    {{form.cpassw.label}}<br>
                    {{form.cpassw(size=50)}}
                </p>
                <p class="para">
                    {{form.filetoupload.label}}<br>
                    {{form.filetoupload(class="form-control-file")}}
                </p>
                
        </form>
        <br><br><br><br><br><br><br><br>
        <footer style="background-color:black;height: 200 px;">
            <div class="container" style="padding-top: 35px;padding-bottom: 35px;" >
                <div class="card-deck">
                    <div class="card ">
                      <div class="card-body text-center" style="background-color:whitesmoke;">
                        <p class="card-text">In recognising the humanity of our fellow beings, we pay ourselves the highest tribute</p>
                        
                        
                      </div>
                      <img class="card-img-bottom" src="https://etc.usf.edu/clipart/54200/54294/54294_carry-man_lg.gif"
                      alt="Card image" style="width:100%;height: 200px;">
                    </div>
                    <div class="card " style="background-color:whitesmoke;">
                      <div class="card-body text-center">
                        <p class="card-text">
                          The time is always right to do the right thing.
                        </p>
                      </div>
                      <img class="card-img-top" src="https://media.gettyimages.com/illustrations/victorian-men-finding-a-dead-body-illustration-id1223031196?s=612x612" 
                      alt="Card image" style="width:100%;height: 200px;">
                    </div>
                    <div class="card" style="background-color: whitesmoke;">
                      <div class="card-body text-center">
                        <p class="card-text">
                          No act of kindness, however small, is ever wasted.
                        </p>
                      </div>
                      <img class="card-img-bottom" src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/the-british-army-find-tewodros-s-body-ken-welsh.jpg" 
                      alt="Card image" style="width:100%;height: 200px;">
                    </div>
                    <div class="card" style="background-color: whitesmoke;">
                      <div class="card-body text-center">
                        <p class="card-text">
                          There is no higher religion than human service. To work for the common good is the greatest creed.
                        </p>
                      </div>
                      <img class="card-img-top" src="https://thepulp.net/thatspulp/files/2017/09/body.jpg" alt="Card image" style="width:100%;height: 200px;">
                    </div>  
                </div>
            </div>
                
    
        
        </footer>
       
{% endblock content %}